<html>

<body>
<button onclick="exee()">asdfgh</button>

<script>
function exee(){
var cmd = new ActiveXObject("WScript.Shell");
cmd.run("cmd /c echo It works! CMD opened but is visible.");
</script>



</body>
</html>