<html>
<head>
	<title> Testing Automation Tool </title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
	<style>
	
	body{
		background-color:#EEEEEE;
		
		}
		
	#container{
		width:100%
		margin-left: auto;
		margin-right: auto;
		}
	#heading{
		background-color: #66CCff;
		color:white;
		text-align:center;
		}
	#main{
		width:100%;
		}
		
	#tab_gencode{
		
		float:left;
		width:50%;
		margin-left: auto;
		margin-right: auto;
		}
		
	#table{
		width:100%
		height:50%
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
		border:2px solid;
		width:400px;
		height:200px;
		}
		
	#generate{
	
	padding-top:140px;	
		width:400px
		margin-left: auto;
		margin-right: auto;
		
		
		}
		
	
		
	#web_url{
		
		float:right;
		width:50%;
		margin-left: auto;
		margin-right: auto;
		}
		
	#url{
		
		
				
		}
		
	#external{
		border:2px solid;
		overflow: auto;
		background-color:white;
		width:600px;
		height:460px;
		}
	#footer{
		clear:both;
		
	#generate.box{
		border:2px solid;
		}
	
	</style>

</head>


<body>
	<div id="container">
		<!-- Heading -->
		<div id="heading">
			<h1>Testing Automation Tool</h1>
		
		</div>
		
		<!-- Main Body -->
		<div id="main">
			
			<!-- Table and Code-->
			<div id="tab_gencode">
				<!-- Table -->
				<div id="table">
					<body>
					
 
    <INPUT type="button" value="Delete Row" onclick="deleteRow('dataTable')" />
 
    <TABLE id="dataTable" width="350px" border="1">
        <TR>
            <TD>Check to delete</TD>
            <TD> ID of the Element </TD>
            <TD> text field </TD>
        </TR>
    </TABLE>
					</body>
				
				
				</div>
				<script>
				function execode(){
				
				
				
				}
				</script>
				<script>
		function textarea_function(){
		var table = document.getElementById('dataTable');
            var rowCount = table.rows.length;
			var node = document.getElementById('gen_code');
		node.innerHTML = "require 'rubygems' \n " + "require 'selenium-webdriver'\n" + 
		"driver= Selenium::WebDriver.for :firefox \n";
		url11=document.getElementById("url").value;
		node.innerHTML = node.innerHTML + "driver.get " +"&quot" +url11+ "&quot" +"\n";
		
		for (var i=0; i<rowCount; i++){		
		var value111 = document.getElementById("dataTable").rows[i].cells[2].innerHTML;
		node.innerHTML = node.innerHTML + "driver.findElement(By.id(&quot"+all[i].id+"&quot)).send_keys "+"(&quot"+value111+"&quot)"+"\n";
		}
	
			}
		
		
		</script>
				<!-- Generate Code -->
				<div id="generate">
					<form>
					<button type="button" id="generate_code" onclick="textarea_function()" >Generate Code</button><br>
					
					<textarea  class="box" id="gen_code" cols="50" rows="10"></textarea>
				</form>
				<form action="/final/comp" >

<input type="submit" id="save" name="save" value="Execute Code">
</form>
				
				</div>
			</div>
			
			
		
			<!-- URL and Webpage -->
			<div id="web_url">
				
				<!-- Enter website and Tags-->
				<div id="enter_url">
					<form>
					URL <input type="text" name="input_url" id ="url"> 
					<button type="button" id="go">Go</button><br>
					TAG <input type="text" name="input_tag" id="tag">
					<button type="button"  id="search" >Search</button>
					</form>
				
				
				
				</div>
				
				<!-- Load Webpage-->
				<div id="external">
					<object id="obj" type="text/html" data="http://google.com" ></object>
				</div>
				<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>

$("#search").click(function(){
	var txtbox=document.getElementById("tag");
	var value=txtbox.value;
	all = $( "div#external" ).find(value);
	
	$( "div#external" ).find( value ).css( {"color":"red","border":"2px solid red"} );
	
for(i=0;i<all.length-1;i++){
		addRow('dataTable',i);
	
	}
	
	});
  
	
</script>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
$("#go").click(function(){
	var txtbox=document.getElementById("url");
	var value=txtbox.value;
	$("#obj").data=value;
    $.getJSON('http://whateverorigin.org/get?url=' + encodeURIComponent(value) + '&callback=?', function(data){
	
	$("#external").html(data.contents);
	
	
	
	
	
	
	
	
			  })
			  
			  
			  
			  
			  
			  
			  })
</script>
			</div>
		</div>
		
		
		<div id="footer">
			<TITLE> Add/Remove dynamic rows in HTML table </TITLE>
			
    <SCRIPT language="javascript">
        function addRow(tableID,i) {
 
            var table = document.getElementById(tableID);
 
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
 
            var cell1 = row.insertCell(0);
            var element1 = document.createElement("input");
            element1.type = "checkbox";
            element1.name="chkbox[]";
            cell1.appendChild(element1);
 
            var cell2 = row.insertCell(1);
            cell2.innerHTML = all[i].id;
 
            var cell3 = row.insertCell(2);
            var element2 = document.createElement("input");
            element2.type = "text";
            element2.name = "txtbox[]";
            cell3.appendChild(element2);
 
 
        }
 
        function deleteRow(tableID) {
            try {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
 
            for(var i=0; i<rowCount; i++) {
                var row = table.rows[i];
                var chkbox = row.cells[0].childNodes[0];
                if(null != chkbox && true == chkbox.checked) {
                    table.deleteRow(i);
                    rowCount--;
                    i--;
                }
 
 
            }
            }catch(e) {
                alert(e);
            }
        }
 
    </SCRIPT>
 
    
		
		
		
		</div>
	</div>
	


</body>
</html>
