<h1>Execode#runbrowser</h1>
<p>Find me in app/views/execode/runbrowser.html.erb</p>
<button value="adajsn" id ="but" onclick="kk()">asdasd</button>
<script>
function kk(){
document.getElementById("but").innerHTML="adasdfghbj";
}
</script>

